@use "./var.scss";

body,
html,
#app {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.app_page_title {
  position: relative;
  padding-left: var(--padding-s);
  &::before {
    content: "";
    width: 5px;
    height: 80%;
    background-color: var(--color-primary);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
  }
}
