html {
    font-size: 16px;
}

:root {
    // 颜色
    --color-primary: #409eff;
    --color-success: #67c23a;
    --color-warning: #e6a23c;
    --color-danger: #f56c6c;
    --color-error: #f56c6c;
    --color-info: #909399;

    --color-border: #e4e7ed;

    // margin
    --margin-xxs: 4px;
    --margin-xs: 8px;
    --margin-s: 12px;
    --margin-m: 16px;
    --margin-l: 20px;
    --margin-xl: 24px;
    --margin-xxl: 28px;

    // padding
    --padding-xxs: 4px;
    --padding-xs: 8px;
    --padding-s: 12px;
    --padding-m: 16px;
    --padding-l: 20px;
    --padding-xl: 24px;
    --padding-xxl: 28px;

    // font-size
    --font-size-xxs: 10px;
    --font-size-xs: 12px;
    --font-size-s: 14px;
    --font-size-m: 16px;
    --font-size-l: 18px;
    --font-size-xl: 20px;
    --font-size-xxl: 22px;

    --font-size-1rem: 1rem;
    --font-size-2rem: 2rem;
}