.value[data-v-f3110481]:hover{cursor:pointer;scale:1.6;transition:all .2s ease-in-out}.details .label[data-v-f3110481],.details .value[data-v-f3110481]{font-size:var(--text-md);line-height:var(--text-md--line-height)}
