.value[data-v-275c9f27]:hover{cursor:pointer;scale:1.6;transition:all .2s ease-in-out}.details .label[data-v-275c9f27],.details .value[data-v-275c9f27]{font-size:var(--text-md);line-height:var(--text-md--line-height)}
